<div class="main-content">
    <nav class="crumb-wrap">
        <ul>
            <li>Dashboard</li>
        </ul>
    </nav>
    <div class="main-wrapp">
        <div class="row">

            <div class="col-md-4">
                <div class="block-item ">
                    <h2>Node Proxmox</h2>

                    <div class="block-base">
                        <table class="dashboard">
                            <tr>
                                <td>Up time:</td>
                                <td>11 days, 5 hours, 35 minutes</td>
                            </tr>
                            <tr>
                                <td>Load average:</td>
                                <td>0.04, 0,08, 0,17</td>
                            </tr>
                            <tr>
                                <td>UCPUs:</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>CPU usages:</td>
                                <td>40%</td>
                            </tr>
                            <tr>
                                <td>Delay</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>RAM usage</td>
                                <td>2Gb Used / 5Gb Total</td>
                            </tr>
                            <tr>
                                <td>SWAP usage:</td>
                                <td>0.432Gb / 1 000Gb Total</td>
                            </tr>
                            <tr>
                                <td>HD space (root):</td>
                                <td>0.432Gb / 1 000Gb Total</td>
                            </tr>

                            <tr>
                                <td>PVE Manager ver.:</td>
                                <td>2.4.20-6</td>
                            </tr>
                            <tr>
                                <td>Kernel ver:</td>
                                <td>vmlinuz-2.2.345-7</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="block-item">
                    <h2>Node Proxmox</h2>
                    <div class="block-base">
                        <table class="dashboard">
                            <tr>
                                <td>Up time:</td>
                                <td>11 days, 5 hours, 35 minutes</td>
                            </tr>
                            <tr>
                                <td>Load average:</td>
                                <td>0.04, 0,08, 0,17</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="block-item">
                    <h2>Node Proxmox</h2>
                    <div class="block-base">
                        <table class="table-class2">
                            <tr>
                                <td>vmbro:</td>
                                <td>192.99.225.166</td>
                            </tr>
                            <tr>
                                <td>vmbro1:</td>
                                <td>192.168.206.1</td>
                            </tr>
                            <tr>
                                <td>DNS1:</td>
                                <td>127.0.01</td>
                            </tr>
                            <tr>
                                <td>DNS2:</td>
                                <td>213.186.33.99</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="block-item ">
                    <h2>Node Proxmox</h2>
                    <div class="block-base">
                        <table class="table-class1">
                            <tr>
                                <td><div class="class1-circle"></div></td>
                                <td>test (replica)</td>
                                <td>Running 3 days 19 hours</td>
                            </tr>
                            <tr>
                                <td><div class="class1-circle warn"></div></td>
                                <td>101</td>
                                <td class="warn">Stopped 5 hours</td>
                            </tr>
                            <tr>
                                <td><div class="class1-circle"></div></td>
                                <td>Inst#23</td>
                                <td>Running 1 hour</td>
                            </tr>
                            <tr>
                                <td><div class="class1-circle"></div></td>
                                <td>34</td>
                                <td>Running 2 hour</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="block-item ">
                    <h2>Node Proxmox</h2>
                    <div class="block-base double-base">
                        <span>Disk images:</span>
                        <table class="table-class3">
                            <tr>
                                <td>Up time:</td>
                                <td>64Gb</td>
                            </tr>
                            <tr>
                                <td>vm-276-fvd-1dw.qcowz</td>
                                <td>34Gb</td>
                            </tr>
                            <tr>
                                <td>vfghm-1t00-dl-104.qcowz</td>
                                <td>20Gb</td>
                            </tr>
                        </table>
                    </div>
                    <div class="block-base double-base">
                        <span>ISO images:</span>
                        <table class="table-class3">
                            <tr>
                                <td>vm-100-dl-104.qcowz</td>
                                <td>23Gb</td>
                            </tr>
                            <tr>
                                <td>vm-276-fvd-1dw.qcowz</td>
                                <td>64Gb</td>
                            </tr>
                            <tr>
                                <td>vfghm-1t00-dl-104.qcowz</td>
                                <td>10Gb</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <button class="btn waves-effect">Save to file</button>
    </div>
</div>