<div class="main-content">
    <nav class="crumb-wrap">
        <ul>
            <li>Deploy</li>
        </ul>
    </nav>
    <div class="main-wrapp">
        <div class="row">

            <div class="col-lg-5">
                <div class="block-item">
                    <h2>Choose parameters</h2>
                    <div class="block-base">
                        <table class="table-create">
                            <tr>
                                <td><span>Select Branch</span></td>
                                <td>
                                    <select name="city" id="">
                                        <option>Alimprovment</option>
                                        <option>Alimprovment</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span>New Branch Name</span></td>
                                <td><input class="input1" type="text" name="name"  placeholder="Enter Branch Name"/><button class="btn table-btn btn1">Create Branch</button></td>
                            </tr>
                            <tr>
                                <td><span>Instance Name</span></td>
                                <td><input class="input2" type="text" name="name"  placeholder="Enter instance Name"/></td>
                            </tr>
                            <tr class="wide-area">
                                <td><span>Description Instance</span></td>
                                <td><textarea name="message" placeholder="Enter Description" class="wide-area"></textarea></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="block-item">
                    <div class="block-base">
                        <span>Restore from snapshot</span>
                        <div class="table-select">
                            <span>Select a snapshot</span>
                            <select name="city" id="">
                                <option>Alimprovment</option>
                                <option>Alimprovment</option>
                            </select>
                            <button class="btn table-btn btn2"><i class="material-icons">settings_backup_restore</i>Rollback</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

            </div>

            <div class="col-lg-6 col-md-12">
                <div class="block-item">
                    <h2>Node Proxmox</h2>
                    <div class="block-radio">
                        <table class="table-radio">
                            <tr>
                                <td><span>Hash</span></td>
                                <td><span></span></td>
                                <td><span>Commit</span></td>
                            </tr>
                            <tr>
                                <td class="td-radio">
                                    <input id="option" type="radio" name="field" value="option">
                                    <label for="option"></label>
                                </td>
                                <td>c3a6791776</td>
                                <td>Merge branch 'ProductImportAjax'</td>
                            </tr>
                            <tr>
                                <td class="td-radio">
                                    <input id="option1" type="radio" name="field" value="option">
                                    <label for="option1"></label>
                                </td>
                                <td>a05dd91e48</td>
                                <td>Merge branch 'master' into DENIM-497</td>

                            </tr>
                            <tr>
                                <td class="td-radio">
                                    <input id="option2" type="radio" name="field" value="option" checked="">
                                    <label for="option2"></label>
                                </td>
                                <td>c3a6791749c</td>
                                <td>DENIM-497 Fixing missing correct item description on ems export</td>
                            </tr>
                            <tr>
                                <td class="td-radio">
                                    <input id="option3" type="radio" name="field" value="option">
                                    <label for="option3"></label>
                                </td>
                                <td>c3a6791749c</td>
                                <td>Merge branch 'master' into DENIM-497</td>
                            </tr>
                            <tr>
                                <td class="td-radio">
                                    <input id="option4" type="radio" name="field" value="option">
                                    <label for="option4"></label>
                                </td>
                                <td>a05dd91e48</td>
                                <td>DENIM-497 Fixed issue for missing order id on observer when creating the order on the ... Redirect to brand list page if brand disabled</td>
                            </tr>
                            <tr>
                                <td class="td-radio">
                                    <input id="option5" type="radio" name="field" value="option">
                                    <label for="option5"></label>
                                </td>
                                <td>4f5512b1a88f</td>
                                <td>Merge branch 'ProductImportAjax'</td>
                            </tr>
                        </table>
                        <button class="btn radio-btn">launch Provisioning</button>
                        <button class="btn radio-btn btn-transpar">Show more commits</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>