<div class="main-content">
	<nav class="crumb-wrap">
	    <ul>
	    	<li class="active"><a href="instance.html" class="breadcr">Instances</a><i class="material-icons">chevron_right</i></li>
	    	<li>TestInstance</li>
	    </ul>
  	</nav>
	<div class="main-wrapp">
		<div class="row">
			
			<div class="col-lg-6">
				<div class="block-item">
					<h2>TestInstance</h2>
					<div class="test-instance">
						<table class="table-test">
							<tr>
								<td>Neme instance:</td>
								<td>TestInstance</td>
							</tr>
							<tr>
								<td>Created by:</td>
								<td>Nick</td>
							</tr>
							<tr>
								<td>Date:</td>
								<td>04/22/2016 19:43:24</td>
							</tr>
							<tr>
								<td>Https:</td>
								<td>http://192.99.232.166:8151</td>
							</tr>
							<tr>
								<td>SSH:</td>
								<td>ssh root@192.99.232.166 -p2</td>
							</tr>
							<tr>
								<td>Status:</td>
								<td><span class="bg-circle"></span>Running 17 hours</td>
							</tr>
							<tr>
								<td>Description:</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum, dui in dictum malesuada, justo ipsum fermentum velit, sit amet tempus mauris ligula eget ipsum. </td>
							</tr>
						</table>
					</div>
				</div>
				<ul class="btn-group">
					<li><button class="btn"><i class="material-icons">&#xE037;</i>Start</button></li>
					<li><button class="btn"><i class="material-icons">&#xE047;</i>Stop</button></li>
					<li><button class="btn"><i class="material-icons">&#xE042;</i>Restart</button></li>
					<li><button class="btn"><i class="material-icons">&#xE14C;</i>Delete</button></li>
					<li><button class="btn"><i class="material-icons">&#xE148;</i>Take Snapshot</button></li>
					<li><button class="btn"><i class="material-icons">&#xE253;</i>log</button></li>
				</ul>
				<div class="block-item">
					<div class="test-instance">
						<div class="block-base">
							<span>Restore from snapshot</span>
							<div class="table-select">
								<span>Select a snapshot</span>
								<select name="city" id="">
									<option>backup_13_04_2016</option>
									<option>backup_07_04_2016</option>
								</select>
								<button class="btn table-btn btn2"><i class="material-icons">&#xE8BA;</i>Rollback</button>
							</div>
						</div>		
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="block-item">
					<div class="checkbox-instance">
						<ul class="checkbox-list">
							<li>
								<input id="option" type="checkbox" name="field" value="option">
						 		<label for="option"><span></span>Select all users</label>
							</li>
							<li>
								<input id="option1" type="checkbox" name="field" value="option">
						 		<label for="option1"><span></span>Nick</label>
							</li>
							<li>
								<input id="option2" type="checkbox" name="field" value="option">
						 		<label for="option2"><span></span>George Folk</label>
							</li>
							<li>
								<input id="option3" type="checkbox" name="field" value="option">
						 		<label for="option3"><span></span>Bob Bobsley</label>
							</li>
						</ul>
						<button class="btn"><i class="material-icons">&#xE145;</i>Add user’s ssh</button>
						<button class="btn"><i class="material-icons">&#xE14C;</i>Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
