<div class="main-content">
	<nav class="crumb-wrap">
        <ul>
        	<li>Instances</li>
        </ul>
  </nav>
	<div class="main-wrapp">
		<div class="row">
			
			<div class="col-lg-9 col-md-12 instance-wrap">
				<div class="block-item">
					<h2>Control Instances</h2>
					<div class="block-instance">
						<table class="instance">
							<tr>
								<th class="roll"><span></span></th>
								<th><span>Instance Name</span></th>
								<th><span>Date</span></th>
								<th><span>Created By</span></th>
								<th><span>HTTP/SSH</span></th>
								<th><span>Status</span></th>
								<th><span></span></th>
								<th><span></span></th>
							</tr>
							<tr>
								<td><div class="bg-circle"></div></td>
								<td>Inst1</td>
								<td>
									<div class="date">04/22/2016</div>
									<div class="time">19:34:25</div>
								</td>
								<td>Luis Malaga</td>
								<td>
									<div class="http">http://192.99.232.166:8151</div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<div class="status active">Running</div>
									<div class="during active">17 hours</div>
								</td>
								<td><a href="instance-test.html"><i class="material-icons">&#xE8F4;</i></a></td>
								<td ><i class="material-icons set-mnu">&#xE8B8;</i></td>										
							</tr>
							<tr>
								<td><div class="bg-circle atent"></div></td>
								<td>Test</td>
								<td>
									<div class="date">04/22/2016</div>
									<div class="time">19:34:25</div>
								</td>
								<td>Leonid Agutin</td>
								<td>
									<div class="http">http://192.99.232.166:8151</div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<div class="status">Processing...</div>
									<div class="during">Done 46%</div>
								</td>
								<td><a href=""><i class="material-icons">&#xE8F4;</i></a></td>
								<td><i class="material-icons set-mnu">&#xE8B8;</i></td>										
							</tr>
							<tr>
								<td><div class="bg-circle"></div></td>
								<td>Dev3</td>
								<td>
									<div class="date">04/22/2016</div>
									<div class="time">19:34:25</div>
								</td>
								<td>Bob Carlton</td>
								<td>
									<div class="http">http://192.99.232.166:8151</div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<div class="status">Running</div>
									<div class="during">17 hours</div>
								</td>
								<td><a href=""><i class="material-icons">&#xE8F4;</i></a></td>
								<td><i class="material-icons set-mnu">&#xE8B8;</i></td>										
							</tr>
							<tr>
								<td><div class="bg-circle warn"></div></td>
								<td>Robert Johnnson Car</td>
								<td>
									<div class="date">04/22/2016</div>
									<div class="time">19:34:25</div>
								</td>
								<td>Robert Johnnson C ...</td>
								<td>
									<div class="http">http://192.99.232.166:8151</div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<div class="status warn">Stopped</div>
									<div class="during"></div>
								</td>
								<td><a href=""><i class="material-icons">&#xE8F4;</i></a></td>
								<td><i class="material-icons set-mnu">&#xE8B8;</i></td>										
							</tr>
							<tr>
								<td><div class="bg-circle"></div></td>
								<td>Inst13</td>
								<td>
									<div class="date">04/22/2016</div>
									<div class="time">19:34:25</div>
								</td>
								<td>Kuzya</td>
								<td>
									<div class="http">http://192.99.232.166:8151</div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<div class="status">Running</div>
									<div class="during">17 hours</div>
								</td>
								<td><a href=""><i class="material-icons">&#xE8F4;</i></a></td>
								<td><i class="material-icons set-mnu">&#xE8B8;</i></td>										
							</tr>
							<tr>
								<td><div class="bg-circle"></div></td>
								<td>TestDev</td>
								<td>
									<div class="date">04/22/2016</div>
									<div class="time">19:34:25</div>
								</td>
								<td>Dave Brubbek</td>
								<td>
									<div class="http">http://192.99.232.166:8151</div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<div class="status">Running</div>
									<div class="during">17 hours</div>
								</td>
								<td><a href=""><i class="material-icons">&#xE8F4;</i></a></td>
								<td><i class="material-icons set-mnu">&#xE8B8;</i></td>										
							</tr>
						</table>
						<ul class="summary">
							<li>summary</li>
							<li>Total: <span>9</span></li>
							<li>Up: <span>7</span></li>
							<li>Down: <span>2</span></li>
							<li>Processing: <span>1</span></li>
						</ul>
						<ul class="instans-list">
							<li>Rows per page:</li>
							<li><span>10</span></li>
							<li><span>1-10 of 100</span></li>
							<li><i class="material-icons">&#xE314;</i></li>
							<li><i class="material-icons">&#xE315;</i></li>
						</ul>
						<div class="settings-mnu">
							<ul>
								<li><i class="material-icons">refresh</i>Restart</li>
								<li><i class="material-icons">stop</i>Stop</li>
								<li><i class="material-icons">delete</i>Delete</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>