
<div class="main-content">
	<nav class="crumb-wrap">
        <ul>
        	<li>User</li>
        </ul>
  	</nav>
	<div class="main-wrapp">
		<div class="row">
			<div class="col-lg-7 col-md-12 user-wrap">
				<div class="block-item">
					<h2>Control Instances</h2>
					<div class="block-instance">
						<table class="user">
							<tr>
								<th>
									<input type="checkbox" id="option" name="cc" />
									<label for="option"><span></span></label>
								</th>
								<th><span>Login</span></th>
								<th><span>Full Name</span></th>
								<th><span>SSH Key</span></th>
								<th><span></span></th>
								<th nowrap>Add SSH Key</th>
							</tr>
							<tr>
								<td>
									<input type="checkbox" id="c2" name="cc" />
									<label for="c2"><span></span></label>
								</td>
								<td>User test</td>
								<td>Luis Malaga</td>
								<td nowrap>
									<div class="http"><a href="#">http://192.99.232.166:8151</a></div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<i class="material-icons">&#xE14C;</i>
									<i class="material-icons">&#xE14C;</i>
								</td>	
								<td><i class="material-icons">&#xE0DA;</i></td>									
							</tr>
							<tr>
								<td>
									<input type="checkbox" id="c3" name="cc" />
									<label for="c3"><span></span></label>
								</td>
								<td>User test</td>
								<td>Ruben Sranislav Baziashvily</td>
								<td>
									<div class="http"><a href="#">http://192.99.232.166:8151</a></div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<i class="material-icons">&#xE14C;</i>
									<i class="material-icons">&#xE14C;</i>
								</td>	
								<td><i class="material-icons">&#xE0DA;</i></td>									
							</tr>
								<tr>
									<td>
										<input type="checkbox" id="c4" name="cc" />
										<label for="c4"><span></span></label>
								</td>
								<td>User test</td>
								<td>Luis Malaga</td>
								<td>
									<div class="http"><a href="#">http://192.99.232.166:8151</a></div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<i class="material-icons del-items">&#xE14C;</i>
									<i class="material-icons del-items">&#xE14C;</i>
								</td>	
								<td><i class="material-icons">&#xE0DA;</i></td>									
							</tr>
							<tr>
								<td>
									<input type="checkbox" id="c5" name="cc" />
									<label for="c5"><span></span></label>
								</td>
								<td>Robert Johnnson Carlos</td>
								<td>Robert Johnnson Carlos</td>
								<td>
									<div class="http"><a href="#">http://192.99.232.166:8151</a></div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<i class="material-icons del-items">&#xE14C;</i>
									<i class="material-icons del-items">&#xE14C;</i>
								</td>	
								<td><i class="material-icons">&#xE0DA;</i></td>									
							</tr>
							<tr>
								<td>
									<input type="checkbox" id="c6" name="cc" />
									<label for="c6"><span></span></label>
								</td>
								<td>User test</td>
								<td>Luis Malaga</td>
								<td>
									<div class="http"><a href="#">http://192.99.232.166:8151</a></div>
									<div class="root">ssh root@192.99.232.166 -p2</div>
								</td>
								<td>
									<i class="material-icons del-items">&#xE14C;</i>
									<i class="material-icons del-items">&#xE14C;</i>
								</td>	
								<td><i class="material-icons">&#xE0DA;</i></td>									
							</tr>
						</table>
						<ul class="summary">
							<li>summary</li>
							<li>Total: <span>9</span></li>
							<li>Up: <span>7</span></li>
							<li>Down: <span>2</span></li>
							<li>Processing: <span>1</span></li>
						</ul>
						<ul class="instans-list">
							<li>Rows per page:</li>
							<li><span>10</span></li>
							<li><span>1-10 of 100</span></li>
							<li><i class="material-icons">&#xE314;</i></li>
							<li><i class="material-icons">&#xE315;</i></li>
						</ul>
					</div>
				</div>
				<button class="btn"><i class="material-icons">&#xE145;</i>Add user</button>
				<button class="btn"><i class="material-icons">&#xE14C;</i>Delete</button>
			</div>
		</div>
	</div>
</div>