<div class="main-content">
	<nav class="crumb-wrap">
        <ul>
        	<li>Settings</li>
        </ul>
  </nav>
	<div class="main-wrapp">
		<div class="row">
			<div class="col-lg-6">
				<div class="block-item">
					<h2>Choose parameters</h2>
					<div class="block-base setting-block">
						<table class="setting-wrap">
							<tr class="input-group">
								<td><label for="settings-input">First name</label></td>
								<td><input class="settings-input" type="text" name="name"  placeholder="Enter First Name"/></td>
							</tr>
							<tr class="input-group">
								<td><label for="settings-input">Last name</label></td>
								<td><input class="settings-input" type="text" name="name"  placeholder="Enter Last Name"/></td>
							</tr>
							<tr class="input-group">
								<td><label for="settings-input">Email</label></td>
								<td><input class="settings-input" type="email" name="name"  placeholder="Email"/></td>
							</tr>
							<tr class="input-group">
								<td><label for="settings-input">Password</label></td>
								<td><input class="settings-input" type="password" name="name"  placeholder="Password"/></td>
							</tr>
							<tr class="input-group">
								<td><label for="settings-input">Confirm Password</label></td>
								<td><input class="settings-input" type="password" name="name"  placeholder="Password"/></td>
							</tr>
							<tr class="input-group">
								<td><label for="settings-input">Roles</label></td>
								<td><input class="settings-input" type="text" name="name"  placeholder="Enter Roles"/></td>
							</tr>
						</table>
					</div>	
				</div>
					<button class="btn settings-btn">Update account</button>
			</div>
		</div>
	</div>
</div>
